/* Enter your custom styles here */
/*.imageHov:hover{
	height : 300px;
	width : 300px;
	transform: scale(1);
}*/

.txtgrp1{
	color : red !important;
	font-weight : bold !important;
}
.txtgrp2{
	color : green !important;
}